body {
    font-family: 'Raleway', sans-serif;
}

/* Partie menu déroulant */

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  z-index: 9999;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
  z-index: 9999;
}

#toggle span:after{
  top: 9px;
  z-index: 9999;
}

#toggle span {
  position: relative;
  display: block;
  z-index: 9999;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: rgb(170, 170, 170);
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
  z-index: 9999;
}

#toggle.on span {
  background-color: transparent;
  z-index: 9999;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  z-index: 9999;
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  z-index: 9999;
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-radius: 4px;
  background: rgb(29, 29, 29);
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  opacity: 0;
  -moz-transition: opacity 20s ease 0.300s;
  -webkit-transition: opacity 20s ease 0.300s;
  -o-transition: opacity 20s ease 0.300s;
  transition: opacity 20s ease 0.300s;
  z-index: 9999;
}

#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid rgb(29, 29, 29);
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

li a {
  padding: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .2s;
  z-index: 9999;
}

li a:hover,
li a:focus {
  background: #680808ad;
  color: rgb(255, 255, 255);
  z-index: 9999;
}

/* Fin de la partie menu déroulant */

#background {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: black;
    background-image: url("img/ville.gif");
    background-size: cover;
    position: fixed;
    z-index: 1;
}

#rectangle1 {
    width: 650px;
    height: 550px;
    margin-left: 33%;
    margin-top: 15%;
    background-color: rgb(29, 29, 29);
    overflow: visible;
    position: fixed;
    z-index: 10;
}

#rectangle2 {
    width: 650px;
    height: 10px;
    margin-left: 33%;
    margin-top: 15%;
    background-color: rgb(134, 0, 0);
    overflow: visible;
    position: fixed;
    z-index: 100;
}

#connexion_button {
    width: 170px;
    height: 35px;
    margin-left: 53.3%;
    margin-top: 39.5%;
    background-color: rgb(134, 0, 0);
    overflow: visible;
    position: fixed;
    z-index: 100;
}


.logo {
    width: 200px;
    height: 200px;
    margin-left: 45%;
    margin-top: 15.5%;
    overflow: visible;
    position: fixed;
    z-index: 100;
}

h1 {
    color: rgba(255, 255, 255, 0.750);
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    margin-top: 26.5%;
    margin-left: 45%;
    overflow: visible;
    position: fixed;
    z-index: 100;
}

h2 {
    color: rgba(255, 255, 255, 0.750);
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    margin-top: 28.5%;
    margin-left: 38.1%;
    overflow: visible;
    position: fixed;
    z-index: 100;
}

h3 {
    color: rgba(255, 255, 255, 0.750);
    font-family: 'Raleway', sans-serif;
    font-size: 17pt;
    margin-top: 31.8%;
    margin-left: 35.4%;
    overflow: visible;
    position: fixed;
    z-index: 100;
}

h5 {
    color: rgba(211, 211, 211, 0.75);
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    margin-top: 39.5%;
    margin-left: 39.3%;
    overflow: visible;
    position: fixed;
    z-index: 100;
}

h6 {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    margin-top: 39.5%;
    margin-left: 55.3%;
    overflow: visible;
    position: fixed;
    z-index: 100;
}